.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 250px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.bodyContent {
  padding-top: 81px;
}

.leftSection {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 40px;
  margin-right: 5px;
}

.serviceName {
  font-family: 'SBAggroB';
  font-size: 25px;
  font-weight: lighter;
  margin-top: 5px;
}

.rightSection {
  display: flex;
  align-items: center;
}

.profileSection {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;
}

.profileImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName {
  font-size: 16px;
  font-weight: bold;
}

.logoutText {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.separator {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

/* 반응형 디자인을 위한 Media Queries */
@media (max-width: 1200px) {
  .navbar {
    padding: 20px 150px;
  }
}

@media (max-width: 1000px) {
  .navbar {
    padding: 20px 100px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 50px;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 20px 20px;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 10px;
  }
}
